
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f7f7f7;
  color: #333;
}

h1, h2, h3 {
  color: #222;
  margin-bottom: 0.5rem;
  text-align: center;
}

button {
  padding: 6px;
  margin: 4px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #555;
}
