.FaqAdminList-container {
  margin-top: 70px;
  min-height: 100vh;
  background: linear-gradient(to right, #989695, #a4cce8);
  padding: 2rem 0;
}

.faq-admin-card {
  background: #fff;
  border-radius: 14px;
  max-width: 650px;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  text-align: center;
  border: 2px solid #310872; 
}

.faq-admin-card h3 {
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
  color: #222;
  font-weight: 700;
}

.faq-admin-card p {
  margin: 0 0 1rem;
  color: #555;
  font-size: 1.1rem;
  line-height: 1.6;
}

.faq-admin-card small {
  color: #888;
  font-size: 0.95rem;
}

.faq-admin-card button {
  background: #222;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  margin: 0 0.5rem;
  cursor: pointer;
  transition: background 0.2s;
}

.faq-admin-card button:hover {
  background: #095;
}